aiohappyeyeballs==2.6.1
aiohttp==3.12.12
aiosignal==1.3.2
annotated-types==0.7.0
anyio==4.9.0
appdirs==1.4.4
APScheduler==3.9.1
argos-translate-files==1.2.0
argostranslate==1.9.6
async-timeout==5.0.1
attrs==25.3.0
babel==2.17.0
beautifulsoup4==4.9.3
bert-extractive-summarizer==0.10.1
bertopic==0.17.0
blis==0.7.11
cachelib==0.13.0
cachetools==5.5.2
catalogue==2.0.10
certifi==2025.4.26
charset-normalizer==3.4.1
click==8.1.8
cloudpathlib==0.21.0
colorama==0.4.6
commonmark==0.9.1
confection==0.1.5
ctranslate2==4.6.0
cymem==2.0.11
datasets==3.6.0
datasketch==1.6.5
Deprecated==1.2.18
dill==0.3.8
distro==1.9.0
en_core_web_sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.8.0/en_core_web_sm-3.8.0-py3-none-any.whl
et_xmlfile==2.0.0
expiringdict==1.2.2
feedparser==6.0.11
filelock==3.18.0
Flask==2.2.5
flask-babel==3.1.0
Flask-Limiter==2.6.3
Flask-Session==0.4.0
flask-swagger==0.2.14
flask-swagger-ui==4.11.1
frozenlist==1.7.0
fsspec==2025.3.0
google-auth==2.40.2
google-auth-oauthlib==1.2.2
gspread==6.2.1
gspread-dataframe==4.0.0
h11==0.16.0
hdbscan==0.8.40
httpcore==1.0.9
httpx==0.28.1
huggingface-hub==0.31.1
idna==3.10
itsdangerous==2.1.2
Jinja2==3.1.6
jiter==0.10.0
joblib==1.4.2
keybert==0.9.0
langcodes==3.5.0
langdetect==1.0.9
language_data==1.3.0
LexiLang==1.0.4
limits==5.1.0
llvmlite==0.44.0
lxml==5.4.0
marisa-trie==1.2.1
markdown-it-py==3.0.0
MarkupSafe==3.0.2
mdurl==0.1.2
Morfessor==2.0.6
mpmath==1.3.0
multidict==6.4.4
multiprocess==0.70.16
murmurhash==1.0.12
narwhals==1.39.0
networkx==3.4.2
nltk==3.9.1
numba==0.61.2
numpy==1.26.4
oauthlib==3.2.2
openai==0.28.0
openpyxl==3.1.5
packaging==23.1
pandas==2.2.3
pathlib_abc==0.1.1
pathy==0.11.0
pillow==11.2.1
pipdeptree==2.26.1
plotly==6.0.1
polib==1.1.1
preshed==3.0.9
prometheus-client==0.15.0
propcache==0.3.2
protobuf==6.31.0
pyarrow==20.0.0
pyasn1==0.6.1
pyasn1_modules==0.4.2
pydantic==2.11.4
pydantic_core==2.33.2
Pygments==2.19.1
pynndescent==0.5.13
python-dateutil==2.9.0.post0
pytrends==4.9.2
pytz==2025.2
PyYAML==6.0.2
redis==4.4.4
regex==2024.11.6
requests==2.32.4
requests-oauthlib==2.0.0
rich==12.6.0
rsa==4.9.1
sacremoses==0.0.53
safetensors==0.5.3
scikit-learn==1.6.1
scipy==1.15.2
sentence-transformers==4.1.0
sentencepiece==0.2.0
sgmllib3k==1.0.0
shellingham==1.5.4
six==1.17.0
smart-open==6.4.0
sniffio==1.3.1
soupsieve==2.7
spacy==3.8.0
spacy-legacy==3.0.12
spacy-loggers==1.0.5
srsly==2.5.1
stanza==1.1.1
sympy==1.14.0
textblob==0.19.0
thinc==8.2.5
threadpoolctl==3.6.0
tokenizers==0.21.1
torch==2.1.2
tqdm==4.67.1
transformers==4.51.3
translatehtml==1.5.2
typer==0.9.4
typing-inspection==0.4.0
typing_extensions==4.13.2
tzdata==2025.2
tzlocal==5.3.1
umap-learn==0.5.7
urllib3==2.4.0
vaderSentiment==3.3.2
waitress==2.1.2
wasabi==1.1.3
weasel==0.4.1
Werkzeug==2.3.8
wrapt==1.17.2
xxhash==3.5.0
yarl==1.20.1
